@model BleepRequestModel
<div id="in-hours">
  <div class="row">
    <div class="col-lg-8">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="student-title">Student</span>
        </div>
        <input id="student" type="text" maxlength="50" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="form-control" aria-label="Student" aria-describedby="student-title">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="room-title">Room</span>
        </div>
        <input id="room" type="text" maxlength="30" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="form-control" aria-label="Room" aria-describedby="room-title">
      </div>
    </div>
  </div>
  <div class="mb-3">
    <button class="request-button btn btn-outline-secondary mb-1" data-priority="2">Sent to parking</button>
    <button class="request-button btn btn-outline-danger mb-1" data-priority="1">Request senior support</button>
    <span id="error" class="error-text"></span>
  </div>
  <div id="progress">
    <div>
      <i id="email-checkbox" class="material-icons">check_box_outline_blank</i> Sending email<span id="email-ellipsis">...</span>
    </div>
    <div id="telephoning">
      <div>
        <i id="phone-checkbox" class="material-icons">check_box_outline_blank</i> Getting in contact with senior support<span id="phone-ellipsis">...</span>
      </div>
    </div>
    <div id="done" class="mt-3">
      <div>Done.</div>
      <a href="/">Start over</a>
    </div>
    <div id="fail" class="mt-3">
      <div class="red">Sorry, we were unable to get in contact with a senior member of staff. Please try again in a few minutes.</div>
      <a href="/">Start over</a>
    </div>
  </div>
</div>
<div id="out-of-hours">
  This service is unavailable outside school hours.
</div>
@Html.AntiForgeryToken()

@section Scripts {
  <script type="text/javascript">
  var students = [@Html.Raw(string.Join(',',Model.Students.Select(o => $"\"{o}\"")))];
  </script>
  <script type="text/javascript" src="~/js/signalr.min.js"></script>
<environment include="Development">
  <script type="text/javascript" src="~/js/jquery-ui.js"></script>
  <script type="text/javascript" src="~/js/site.js"></script>
</environment>
<environment exclude="Development">
  <script type="text/javascript" src="~/js/site.min.js" asp-append-version="true"></script>
</environment>
}
